body{
 margin: 0;
 padding: 0;
 background: #f9ca24;
}

.container {
    max-width: 760px;
    margin: auto;
    border: 3px solid #fff;
    background: #fff;
}

.main-img img,
.imgs img {
 width: 100%;
}
.imgs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
}
.imgs img {
 cursor: pointer;
}
